{
  "extends": [
    "@antfu"
  ],
  "rules": {
    "vue/singleline-html-element-content-newline": "off",
    "vue/multiline-html-element-content-newline": "off",
    "vue/no-side-effects-in-computed-properties": "off"
  }
}